<div class="app-layout">
  <div class="halodoc-header-root">
    <halodoc-header-root name="from app shell"></halodoc-header-root>
  </div>
  <div class="halodoc-aside-root">
    <nav>
      <ul>
        <li *ngFor="let link of links">
          <a
            [routerLink]="[link.link]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ link.name }}</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <article class="halodoc-content">
    <router-outlet></router-outlet>
  </article>
  <footer>
    <div>Should come from another repo.</div>
  </footer>
</div>
