:root {
  // colors
  --primary-background-color: #369;
  --primary-text-color: #fff;
  // Spacing
  --app-spacer: 10px;
  // fonts
  --font-family: "Baloo Thambi 2", cursive;
  --font-size: 16px;
  --font-size-header: 18px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 5px 10px;
}
